{% extends "userExp/base.html" %}
{% block content %}
<br><br><br><br>
<img class="pics" src="media/spa2.jpg">
<div class="info">
  <center>*Appointment Only*<br><br>Tijuana, Mexico<br><br>Lunes - Viernes: 2pm-7pm<br><br>Telefono: 321321312<br><br>Email: milugar@yahoo.com<br><br>Informacion:<br><br>Aqui en mi lugar hacemos blah blahblah blahblah blah
  blah blah<br>Aqui en mi lugar hacemos blah blahblah blahblah blah
  blah blah<br>Aqui en mi lugar hacemos blah blahblah blahblah blah
  blah blah<br>Aqui en mi lugar hacemos blah blahblah blahblah blah
  blah blah<br>Aqui en mi lugar hacemos blah blahblah blahblah blah
  blah blah<br>Aqui en mi lugar hacemos blah blahblah blahblah blah
  blah blah<br></center>
</div>
<img class="pics2" src="media/spa3.jpg">

<br><br><br>
<div style="color:white" class="container">
<!-- Example row of columns -->
<div class="row">
<div class="col-md-4">
  <center><h2 style="color:#FDA2EB">Massage1</h2></center>
  <center><h4 style="color:#FDA2EB">$300 pesos</h4></center>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>
<div class="col-md-4">
  <center><h2 style="color:#FDA2EB">Massage2</h2></center>
  <center><h4 style="color:#FDA2EB">$300 pesos</h4></center>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>
<div class="col-md-4">
  <center><h2 style="color:#FDA2EB">Massage3</h2></center>
  <center><h4 style="color:#FDA2EB">$300 pesos</h4></center>
  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>
</div>

<br><br><br><br><br>

<div class="row">
<div class="col-md-4">
  <center><h2 style="color:#FDA2EB">Tratamiento1</h2></center>
  <center><h4 style="color:#FDA2EB">$300 pesos</h4></center>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>
<div class="col-md-4">
  <center><h2 style="color:#FDA2EB">Tratamiento2</h2></center>
  <center><h4 style="color:#FDA2EB">$300 pesos</h4></center>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>
<div class="col-md-4">
  <center><h2 style="color:#FDA2EB">Tratamiento3</h2></center>
  <center><h4 style="color:#FDA2EB">$300 pesos</h4></center>
  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>
</div>

<hr>

</div> <!-- /container -->

<br><br><br>
<div class="container">
<div class="card-deck mb-3 text-center">
<div class="card mb-4 shadow-sm">
  <div style="background-color:black" class="card-header">
    <h4 style="color:#FDA2EB" class="my-0 font-weight-normal">Free</h4>
  </div>
  <div style="background-color:#FDA2EB" class="card-body">
    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>10 users included</li>
      <li>2 GB of storage</li>
      <li>Email support</li>
      <li>Help center access</li>
    </ul>
    <button style="color:#FDA2EB; background-color:black" type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
  </div>
</div>
<div class="card mb-4 shadow-sm">
  <div style="background-color:black" class="card-header">
    <h4 style="color:#FDA2EB" class="my-0 font-weight-normal">Pro</h4>
  </div>
  <div style="background-color:#FDA2EB" class="card-body">
    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>10 users included</li>
      <li>2 GB of storage</li>
      <li>Email support</li>
      <li>Help center access</li>
    </ul>
    <button style="color:#FDA2EB; background-color:black" type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
  </div>
</div>
<div class="card mb-4 shadow-sm">
  <div style="background-color:black" class="card-header">
    <h4 style="color:#FDA2EB" class="my-0 font-weight-normal">Enterprise</h4>
  </div>
  <div style="background-color:#FDA2EB" class="card-body">
    <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>10 users included</li>
      <li>2 GB of storage</li>
      <li>Email support</li>
      <li>Help center access</li>
    </ul>
    <button style="color:#FDA2EB; background-color:black" type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
  </div>
</div>
</div>
<div class="card-deck mb-3 text-center">
<div class="card mb-4 shadow-sm">
  <div style="background-color:black" class="card-header">
    <h4 style="color:#FDA2EB" class="my-0 font-weight-normal">Free</h4>
  </div>
  <div style="background-color:#FDA2EB" class="card-body">
    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>10 users included</li>
      <li>2 GB of storage</li>
      <li>Email support</li>
      <li>Help center access</li>
    </ul>
    <button style="color:#FDA2EB; background-color:black" type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
  </div>
</div>
<div class="card mb-4 shadow-sm">
  <div style="background-color:black" class="card-header">
    <h4 style="color:#FDA2EB" class="my-0 font-weight-normal">Pro</h4>
  </div>
  <div style="background-color:#FDA2EB" class="card-body">
    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>10 users included</li>
      <li>2 GB of storage</li>
      <li>Email support</li>
      <li>Help center access</li>
    </ul>
    <button style="color:#FDA2EB; background-color:black" type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
  </div>
</div>
<div class="card mb-4 shadow-sm">
  <div style="background-color:black" class="card-header">
    <h4 style="color:#FDA2EB" class="my-0 font-weight-normal">Enterprise</h4>
  </div>
  <div style="background-color:#FDA2EB" class="card-body">
    <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>10 users included</li>
      <li>2 GB of storage</li>
      <li>Email support</li>
      <li>Help center access</li>
    </ul>
    <button style="color:#FDA2EB; background-color:black" type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
  </div>
</div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
<div class="row">
  <div class="col-12 col-md">
    <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
    <small style="color:#FDA2EB" class="d-block mb-3">KarenSpa</small>
  </div>
  <div class="col-6 col-md">
    <h5 style="color:#FDA2EB">Email: milugar@yahoo.com</h5>
  </div>
  <div class="col-6 col-md">
    <h5 style="color:#FDA2EB">Telefono: 712-312-32132</h5>
  </div>
</div>
</footer>
</div>
{% endblock %}
